*{
    margin: 0rem;
    box-sizing: border-box;
}
body {
    margin: 0rem;
    padding: 0rem;
    background-color: #B0C4DE;
    display: flex;
    flex-direction: column;
    width: 100%;
}
header {
    background-color: #7B68EE;
    display: flex;
    justify-content: space-between;
    padding: 0.01rem;
    height: 4rem;
    width: 100%;
}
.site-name {
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-family: 'Artifika';
    font-size: 1.5rem;
}
.name-and-sign-out {
    display: flex;
    justify-content: end;
    align-items: center;
}
.username {
    margin-right: 2rem;
    font-size: 1.3rem;
    font-weight: normal;
    font-style: helvetica;
    cursor: default;
}
.log-out {
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    height: 4rem;
}
.filters {
    display: flex;
    background-color: #DCDCDC;
    width: 100%;
}
.filters-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: #DCDCDC;
    width: 100%;
}
.filter-name {
    display: flex;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.filter {
    display: flex;
    border-width: 0.1rem;
    border-color: grey;
    cursor: text;
    width: 8rem;
    border-radius: 0.615rem;
    font-style: italic;
    margin-left: 0.1rem;
}
.add-new-offer-button {
    display: flex;
    float: right;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.615rem;
    border-width: 0.01rem;
    border-color: grey;
    background-color: #C0C0C0;
    height: 3rem;
    margin-top: 0.7rem;
}
.page {
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
}
.offers-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
}
.offer-template {
    width: 100%;
}
.offer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #FFFFFF;
    padding: 1rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
}
.offer-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.offer-picture {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.image-percent-valid {
    position: relative;
    width: fit-content;
}
.offer-image {
    width: 10rem;
    height: 10rem;
}
.percent {
    color: greenyellow;
    position: absolute;
    right: 1rem;
    top: 0.3rem;
    font-weight: bold;
}
.valid-until {
    color: whitesmoke;
    position: absolute;
    left: 0.5rem;
    top: 0.3rem;
    font-weight: bold;
    font-style: italic;
}
.rating {
    float: right;
    margin-top: -2rem;
}
.checked {
    color: #FFD700;
}
.offer-info{
    width: 100%;
    font-size: 1rem;
}
.offer-footer {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.feedbacks-offer {
    display: flex;
    flex-direction: column;
}
.feedback-image {
    float: right;
    width: 2rem;
    margin-left: -0.4rem;
}
.write-feedback-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: -1rem;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}
.delete-image {
    margin-top: 0.7rem;
    width: 2rem;
}
.delete-offer-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: -1rem;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}
.pen-image {
    margin-top: 0.7rem;
    width: 2rem;
}
.edit-offer-button {
    float: right;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: -1rem;
    width: 2rem;
    height: 2rem;
}
.load-more-button {
    display: block;
    font-size: 0.7rem;
    cursor: pointer;
    border-radius: 0.615rem;
    border-width: 0.01rem;
    border-color: grey;
    width: 8rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
}
footer {
    text-align: center;
    width: 100%;
    height: 2rem;
    padding: 0.01rem;
    position: fixed;
    bottom: 0rem;
}
.information {
    padding: 1rem;
    background-color: #7B68EE;
    font-size: 1rem;
    font-style: helvetica;
	text-align: center;
	height: 1.5rem;
	width: 100%;
	margin-bottom: 0rem;
}
.log-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-in-message {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    text-align: center;
    font-size: 3rem;
}
.login {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    width: 16rem;
    font-size: 1.5rem;
    border-radius: 0.9rem;
}
.password {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    width: 16rem;
    font-size: 1.5rem;
    border-radius: 0.9rem;
}
.sign-in-button {
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 7rem;
    font-size: 1.2rem;
    border-radius: 0.95rem;
    cursor: pointer;
    margin: 0rem auto;
    background-color: #c2c2c2;
}
.add-new-offer-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-new-offer-message {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
}
.label-class {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.label {
    display: flex;
    flex-direction: column;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.date-class {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.description-class {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.description {
    height: 1.5rem;
    font-size: 1rem;
    width: 16rem;
    border-radius: 0.5rem;
    font-style: italic;
}
.discount-class {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.discount {
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-style: italic;
}
.date-to {
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-style: italic;
}
.website-class {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.link {
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-style: italic;
}
.photo-class {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.photo-link {
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-style: italic;
}
.hashtags-class {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 3rem;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.hashtags {
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-style: italic;
    margin-bottom: 3rem;
}
.save-new-offer-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 2rem;
    width: 7rem;
    font-size: 1.2rem;
    border-radius: 0.95rem;
    cursor: pointer;
    margin: 0rem auto;
    background-color: #c2c2c2;
}
.write-feedback-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.write-feedback-message {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
}
.feedback-class {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.feedback {
    display: flex;
    flex-direction: column;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.rating-class {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.feedback-rating {
    display: flex;
    flex-direction: column;
    height: 1.5rem;
    width: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}